server {
  listen 80;
  server_name test.yanodam.com

  location / {
    proxy_pass http://localhost:3000;
  }

  location /socket.io {
    proxy_pass http://localhost:3000/socket.io;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /api {
    proxy_pass http://localhost:3000/api;
  }

  location /auth {
    proxy_pass http://localhost:3000/auth;
  }

  location /health {
    proxy_pass http://localhost:3000/health;
  }

  location /user {
    proxy_pass http://localhost:3000/users;
  }

  location /house {
    proxy_pass http://localhost:3000/houses;
  }






}